.container {
    height: 100vh;
    width: 100vw;
}

.header {
    height: 10vh;
    width: 100vw;
}

.cont {
    height: 80vh;
    width: 100vw;
}

.addTodo {
    /* background-color: #519fff8e; */
    height: 80vh;
    width: 30vw;
}

.todos {
    /* padding: 20px; */
    height: 80vh;
    width: 70vw;
    justify-content: start;
    flex-wrap: wrap;
    overflow: auto;
}

.footer {
    height: 10vh;
    width: 100vw;
}

.flex {
    display: flex;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}